# Kubernetes Pull Secret Template
# This file shows how to create a pull secret for your container registry
# DO NOT commit actual credentials to the repository!

# To create this secret, use one of the following methods:

# Method 1: Using kubectl create secret
# kubectl create secret docker-registry rbrhssa-robot-pull-secret \
#   --docker-server=quay.io \
#   --docker-username=<YOUR_USERNAME> \
#   --docker-password=<YOUR_PASSWORD> \
#   --docker-email=<YOUR_EMAIL> \
#   -n techx

# Method 2: Using a YAML file (replace <BASE64_ENCODED_DOCKERCONFIG> with your actual base64-encoded config)
---
apiVersion: v1
kind: Secret
metadata:
  name: rbrhssa-robot-pull-secret
  namespace: techx
data:
  .dockerconfigjson: <BASE64_ENCODED_DOCKERCONFIG>
type: kubernetes.io/dockerconfigjson

# To generate the base64-encoded dockerconfig:
# echo -n '{"auths":{"quay.io":{"auth":"<BASE64_USERNAME:PASSWORD>","email":""}}}' | base64

